html {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
* {
    font: inherit;
}
main {
    margin: auto;
    width: auto;
    min-width: 600px;
    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {

    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:
        #111;
}