html {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
}
main {
    margin: 50px auto 60px auto;
}
footer {
    position: fixed;
}
* {
    font: inherit;
}
button.small {
    width: 30px;
    height: 80%;
}
img {
    height: 12px;
    width: 12px;
}
nav {
    background-color: #323030;
    display: flex;
    height: 30px;
    padding: 0 2px;
    color: white;
}
nav button {
    background-color: #585454;
    border: solid 1px black;
    color: white;
}
nav > div {
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.caption {
    text-transform: capitalize;
    text-align: center;
    text-emphasis: weight;
    width: 100%;
}
.hidden {
    display: none !important;
}
.light {
    color: gray;
    font-size: 0.9em;
}
.right {
    float: right;
}
.bordered {
    border: solid 1px rgb(224, 224, 224);
    border-radius: 4px;
    margin: 3px auto;
}
.deleteButton {
    background-color: rgb(199,22,43);
    color: white;
}